
<!doctype html>
<html>
    <head>
            <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Welcome to Hogwarts</h1>
        <hr>
        <div>
            <div>
             <img src = "hogwarts.png" width="550px", height="100px" >
            </div>
<div class="center">
    <a href = '/newtask'> Create a new task</a>
    <a href = "/listtask"> List all tasks</a>
    <a href = '/newdeveloper'> Create a new developer</a>
    <a href = '/listdeveloper'> List all developers</a>
    <a href="/deletetask"> Delete a Task by ID </a>
    <a href="/deletecomptask"> Delete Completed Task </a>
    <a href="/taskstatus"> Task Status </a>
</div>